.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax img{
  width: 100%;
  visibility: hidden;
}

#itemA{
  background-image: url('../img/Im_2.3.png');
  background-position: 0px 56px;
  background-size: 100%;
  height: 100%;
}

#itemA img{
  visibility: hidden;
}

#itemB{
  background: #e9ebee;
}
#itemC{
  background-image: url('../img/61.jpg');
}
#itemD{
  background-image: url('../img/62.jpg');
}

.mdl-card{
  width: 100%;
  min-height: 80px;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
