.ifsp-body{
    width: fit-content;
    height: fit-content;
    float: left;
    font-family: 'Consolas';
    font-size: 20px;
}

.ifsp-body .ifsp-ball{
    background-color: #D6312D;
    color: #D6312D;
    border-radius: 50% 50%;
    animation-name: animation-ball;
}

.ifsp-body .ifsp-parts{
    background-color: #80B833;
    border-radius: 20% 20%;
    color: #80B833;
    animation-name: animation-parts;
}

.ifsp-body .ifsp-blank{
    color: white;
    animation-name: animation-blank;
    border-radius: 20% 20%;
}

.ifsp-body .same{
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    float: left;
    width: 25px;
    height: 25px;
    margin: 1px 1px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.ifsp-body .space{
    clear: both;
}

@keyframes animation-ball{
    0%{

    }
    25%{
        background-color: #D6312D;
        color: #D6312D;
        border-radius: 50% 50%;
    }
    50%{
        border-radius: 20% 20%;
    }
    100%{
        background-color: black;
        color: white;
    }
}

@keyframes animation-blank{
    0%{
        border-radius: 20% 20%;
    }
    25%{
        background-color: white;
        color: white;
    }
    50%{
        border-radius: 20% 20%;
    }
    100%{
        background-color: black;
        color: white;
    }
}

@keyframes animation-parts{
    0%{

    }
    25%{
        background-color: #80B833;
        border-radius: 20% 20%;
        color: #80B833;
    }
    50%{
        border-radius: 20% 20%;
    }
    100%{
        background-color: black;
        color: white;
    }
}
