.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-layout-title{
  color: black;
}

.mdl-layout__drawer{
  background-color: rgb(76,175,80);
}

.mdl-navigation__link{
  color: black !important;
}

.mdl-layout__drawer-button{
  background-color: rgb(76,175,80);
  border-radius: 50%;
}

.parallax {
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;
}

#itemA {
  background-image: url("imagens/148.jpg");
}


#itemB {
  background-image: url("imagens/159.jpg");
}

#itemC {
  background-image: url("imagens/175.jpg");
}

.my-card{
  width: 100%;
}

.separador{
  width: 100%;
  height: 15px;
  background-color: rgb(76,175,80);
}